p {
    color: chocolate;
    background-color: aqua;
    /* font-family: Rk123; */
    font-family: "Playwrite GB S Guides", cursive;
    font-weight: 400;
    font-style: normal;
}
#abc{
    color:blue
}
.txt {
    color:red
}
@font-face {
    font-family: Rk123;
    src: url(BebasNeue-Regular.ttf);
}
.fr{
    font-size:25px;
    font-family:Rk123;
}